.navigation{
  margin: 10px;
  border: 1px solid yellowgreen;
  text-align: right;
}
.navActive{
  color: red;
  border: 1px solid black;
}
li{
  margin: 20px 10px 20px 10px;
  display: inline-block;
}