@import "../../../scss/settings/colors";
.navMenu{
  //margin: 10px;
  //border: 1px solid yellowgreen;
  text-align: right;
}

.navMenu li{
  margin: 20px 10px 20px 10px;
  display: inline-block;
}
.navMenu a{
  color: map_get($colors, gray);
  text-decoration: none;
  padding: 9px 20px;
}
.navMenu a:hover{
  border: solid 1px map_get($colors, gray);
  padding: 8px 19px;
}