.navMenu{
  margin: 10px;
  border: 1px solid yellowgreen;
  text-align: right;
}

.navMenu li{
  margin: 20px 10px 20px 10px;
  display: inline-block;
}
.navMenu a{
  color: black;
  text-decoration: none;
}