@import "../../../scss/settings/colors";
.navLogin{
  margin: 10px;
  //border: 1px solid rebeccapurple;
  text-align: right;
}

.navLogin li{
  margin: 20px 10px 20px 10px;
  display: inline-block;
}
.navLogin a{
  color: map_get($colors, gray);
  text-decoration: none;
  padding: 9px 20px;
}
.navLogin a:visited{
  color: map_get($colors, gray);
}
.navLogin a:hover{
  padding: 8px 19px;
  border: solid 1px map_get($colors, gray);
}