@import "../../../scss/settings/colors";
.homeHeader{
  //width: 99%;
  margin: 2px;
  border: 1px solid blue;
  height: 1000px;
  background-image: url("/img/Home-Hero-Image.jpg");
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  justify-content: right;


}
.homeHeaderContent{
  width: 50vw;
  height: 350px;
}
.homeHeaderTitle{
  margin-top: 100px;
  margin-bottom: 120px;
  //width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homeHeaderTitle h1,
.homeHeaderTitle h2{
  font-size: 38px;
  padding: 10px;
  color: map_get($colors, gray);
}

.homeHeaderBtns{
  //width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.homeHeaderBtns a{
  font-size: 36px;
  padding: 13px 93px;
  border: solid 1px map_get($colors, gray);
  color: map_get($colors, gray);
  text-decoration: none;
}

